@{
    ViewBag.Title = "Widget";
}
<head>
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <script type="text/javascript" src="../JavaScript1.js"></script>
    <title>Världens Bästa Bibliotek</title>
</head>
<h2>Widget</h2>

<form method="get">
    Search: <input type="text" name="apiSearchText" id="apiSearchText">
    <input type="submit" onclick="GrabInfo()" value="apiSearchButton">
</form>
<textarea id="apiTextBox"></textarea>

